<div class = "row index-wrapper">
    <div class = "col-3 left-content">
        <ul>
            <li>
                <%= image_tag("coffee-filter.svg") %>
                <h1>Recentes</h1>
            </li>
            <li>item</li>
        </ul>
    </div>
    <div class = "col center-content">

    </div>
    <div class = "col-3 right-content">
        <ul>
            <li>
                <%= image_tag("coffee-cup.svg") %>
                <h1>Quentes</h1>
            </li>
            <li>item</li>
        </ul>
    </div>
</div>