<div class = "login-wrapper">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h1>Login</h1>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "E-mail" %>
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Senha" %>
      <%= f.submit "ENVIAR", class: 'btn btn-danger send-button' %>
  <% end %>
</div>