.register-wrapper, .login-wrapper{
    background-image: image-url('login-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    height: calc( 100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
    form{
        background-color: white;
        border-radius: 12px;
        max-width: 512px;
        padding: 12px;
        height: 256px;
        flex: 1;
        display: flex;
        flex-direction: column;
        position: relative;
        input{
            display: block;
            margin-bottom: 18px;
            &.send-button{
                position: absolute;
                bottom: 0;
                right: 0;
                margin: 0px 12px 12px 0px;
            }
        }
    }
}

.register-wrapper{
    form{
        height: 456px;
    }
}