h1{
    font-family: 'Redressed';
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 48px;
    color: #000000;
}

h2{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    text-align: center;
    color: #000000;
}

h3{
    font-family: 'Redressed';
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    text-decoration-line: underline;
    color: #C82400;
}

p, a{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
    color: #000000;
}